<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
   <!--数据库连接配置-->
    <add key="connString" value="Data Source=192.168.23.245;Initial Catalog=Precord;User Id=sa;Password=twadmin" />
	<!-- 操作员信息配置-->
    <add key="OPERATORID" value="2072" />
	<add key="OPERATORNAME" value="自助1" />
	<add key="OPERATORWORKKIND" value="门诊收费员" />
	<add key="OPERATOROFFICE" value="收费处" />
	<add key="OPERATOROFFICEID" value="286" />
    <add key="USERID" value="3394" />

    <!-- 硬件相关端口设置-->
    <add key="发卡器Port" value="1" />
    <add key="钞箱Port" value="2" />
    <add key="读卡器Port" value="5" />
    <add key="读卡器类型" value="M100" />
    <add key="卡类型" value="IC卡" />
	<add key ="医院名称" value=""/>
  
  </appSettings>
</configuration>